include ../mixins/flash-messages

doctype html
html(lang="es")

	//- HTML HEADER
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		title= title || 'Diablo Immortal'
		-var meta_description = description || "DiabloImmortal.es es tu sitio web sobre Diablo Immortal, toda la información sobre el videojuego, noticias, guías y más.";
		meta(property="og:title" content=title || 'Diablo Immortal')
		meta(property="og:description" content=meta_description)
		meta(name="description" content=meta_description)
		link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")

		link(href="/styles/site.min.css", rel="stylesheet")
		script(async, src='https://adpnlib.s3-eu-west-1.amazonaws.com/prebidvideo.js')
		script(async, src='https://www.googletagmanager.com/gtag/js?id=UA-47090382-2')
		script.
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());
			gtag('config', 'UA-47090382-2');
		
		script(async='async', src='https://www.googletagservices.com/tag/js/gpt.js')
		script.
			var adpnPbjs = adpnPbjs || {};
			adpnPbjs.que = adpnPbjs.que || [];
			var adUnits = [{
				code: 'video1',
				mediaTypes: {
					video: {
						playerSize: [640, 480],
						context: 'outstream'
					}
				},
				bids: [{
					bidder: 'criteo',
					params: {
						zoneId: 1455580,
						video: {
							skip: 0,
							playbackmethod: 1
						}
					}
				}]
			}]
			adpnPbjs.que.push(function () {
				adpnPbjs.addAdUnits(adUnits);
				adpnPbjs.requestBids({
					timeout: 3000,
					bidsBackHandler: function (bids) {
						var highestCpmBids = adpnPbjs.getHighestCpmBids('video1');
						adpnPbjs.renderAd(document, highestCpmBids[0].adId);
					}
				});
			});

		if user && user.canAccessKeystone
			link(href="/keystone/styles/content/editor.min.css", rel="stylesheet")

		block css

		block head

	//- HTML BODY
	body

		//- HEADER
		header#header
			.container
				.navbar-backdrop
					.navbar
						.navbar-left
							a.navbar-toggle
								i.fa.fa-bars
							a.logo(href="/") Diablo Immortal

						.nav.navbar-right
							ul
								if !user
									li.hidden-xs-down
										a(href="/keystone/signin") Inicia sesión
									li.hidden-xs-down
										a(href="#") Regístrate
									li
										a(data-toggle="search")
											i.fa.fa-search
								else
									li.hidden-xs-down
										a(href="/keystone/")
											i.fa.fa-edit
									li.hidden-xs-down
										a(href="/keystone/signout")
											i.fa.fa-sign-out 
		//- BODY
		#body

			//- NOTE:
			//- There is no .container wrapping class around body blocks to allow more flexibility in design.
			//- Remember to include it in your templates when you override the intro and content blocks!

			//- The Intro block appears above flash messages (used for temporary information display)
			block intro

			//- Flash messages allow you to display once-off status messages to users, e.g. form
			//- validation errors, success messages, etc.
			+flash-messages(messages)

			//- The content block should contain the body of your template's content
			block content
		
		//- FOOTER
		footer#footer
			.container
				.row
					.col-sm-12.col-md-5
						h4.footer-title Sobre nosotros
						p
							| Somos una comunidad gamer a la que le gusta estar al día e informar a los demas usuarios de las últimas novedades.
					.col-sm-12.col-md-4
						h4.footer-title Trabaja con nosotros
						p ¿Te gusta escribir contenido y eres un apasionado de los videojuegos? Ponte en contacto con nostros a traves de 
							a(href="/contacto") este enlace.
					.col-sm-12.col-md-3
						h4.footer-title Suscríbete
						p Suscribete a nuestra newsletter y recibe notificaciones cada vez que subamos contenido.
						form(method='post').input-group.m-t-25
							input.form-control(type="text", placeholder="Email" name="email")
							span.input-group-btn
								button.btn.btn-primary(type="submit") Subscríbete
				.footer-bottom
					.footer-social
						a(href="#", target="_blank", data-toggle="tooltip", title="facebook")
							i.fa.fa-facebook
						a(href="#", target="_blank", data-toggle="tooltip", title="twitter")
							i.fa.fa-twitter
						a(href="#", target="_blank", data-toggle="tooltip", title="steam")
							i.fa.fa-steam
						a(href="#", target="_blank", data-toggle="tooltip", title="twitch")
							i.fa.fa-twitch
						a(href="#", target="_blank", data-toggle="tooltip", title="youtube")
							i.fa.fa-youtube
					p
						| Copyright © 2018 DiabloImmortal.es
						| . Todos los derechos reservados



		script(src='/js/jquery/jquery-1.11.3.min.js')

		script(src='/js/bootstrap/bootstrap-3.3.5.min.js')

		if user && user.canAccessKeystone
			script(src='/keystone/js/content/editor.js')

		block js
